body {
    margin: 0;
    padding: 0;
}

.container-clock {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    border: solid 1px;
    padding: 10px;
    min-width: 300px;
    text-align: center;

}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(44, 40, 40);
    font-size: 25px;
    text-align: center;
}